:root{
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292E;
  --primary-border-color: #28292E;
	--secondary-border-color: #56575A;

  --title-color: #F0F0F0;
  --text-color: #9A9A9C;
  --link-color: #9A9A9C;
  --icon-color: #C7C8C9;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
}

body{
 background:var(--primary-bg-color);
}

i{
  color: var(--icon-color);
}

.header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.header-brand .header-logo{
  width: 2.25rem;
  height: 2.25rem;
}

#toggleTheme{
  font-size: 1.5rem;
  color: var(--primary-color);
}

.menu{
  display: flex;
  align-items: center;
}

.menu-mobile{
  justify-content: space-between;
}