@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&display=swap');

:root{
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292E;
  --primary-border-color: #28292E;
	--secondary-border-color: #56575A;

  --title-color: #F0F0F0;
  --text-color: #9A9A9C;
  --link-color: #9A9A9C;
  --icon-color: #C7C8C9;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
}

body{
 background:var(--primary-bg-color);
 font-family: 'Inter', Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

i{
  color: var(--icon-color);
}

.header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.header-toggle{
  display: flex;
  justify-content: flex-end;
}

.header-brand .header-logo{
  width: 2.25rem;
  height: 2.25rem;
}

#toggleTheme{
  font-size: 1.5rem;
  color: var(--primary-color);
}

.menu{
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
}

.menu-item{
  width: 100%;
}

.menu-mobile{
  justify-content: space-between;
  border-top:1px solid var(--primary-border-color);
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.menu-mobile .menu-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text {
  color: var(--primary-color);
  font-weight: 600;
}

  .menu-icon, .menu-text{
  color: var(--text-color);
}

.menu-icon{
  font-size: 1.5rem;
}

.menu-text{
  font-size: 0.75rem;
  text-transform: uppercase;
}

.header-nav{
  display: none;
}

.menu-desktop{
  gap:2rem;
}

@media (min-width:768px){

  .header{
    position: fixed;
    border-bottom:1px solid var(--primary-border-color);
  }

  .nav-mobile{
    display: none;
  }

  .header-nav{
    display: flex;
  }

  .header-nav,
  .header-toggle{
    min-width: 30%;
  }
}